<div class="row top-margin">
  <div class="col-md-12">
    <a (click)="dropboxLogin()" class="text-center btn btn-success">Signup</a>
  </div>
</div>


<form [formGroup]="dropboxFrm" class="form-horizontal" (ngSubmit)="onSubmit(dropboxFrm)">

  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="70%">
      <div class="form-group">
        <input type="file" class="form-control-file" (change)="onFileChange($event)"
               [ngClass]="displayFieldCss('Files')" multiple>
        <div class="invalid-feedback">
          Please upload a document.
        </div>
      </div>
    </div>
  </div>

  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="70%">
      <div class="form-group">
        <label for="Path">Path</label>
        <input type="text" class="form-control" id="Path" placeholder="Path" formControlName="Path"
               [ngClass]="displayFieldCss('Path')">
        <div class="invalid-feedback">
          Path is required.
        </div>
      </div>
    </div>
  </div>


  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="15%">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
    </div>

  </div>

</form>




<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="70%">



    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>



  </div>
</div>





